html{
	
   cursor: url('images/snakecursor.png'), auto;
	
}

body {
  background-color: #ffeec2;
  color: black;
  font-family: Verdana;
  font-size: 22px;
  line-height: 1.4;
  margin: 0 5%;
  }
  
ul
  {
  list-style-type: none;
  }
  
#snakebox
  {
  float: center;
  width: 55%;
  margin: 5% auto;
  padding: 20px;
  text-align: center;
} 

#textbox
  {
  float: center;
  width: 55%;
  margin: 5% auto;
  padding: 20px;
  background-color: #7aa5f0;
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
} 

#navigation
{
	
  margin: 5% 0%;
  float: left;
  width: 13%;
  padding: 20px;
  background-color: #7aa5f0;
  text-align: left;
  border: 3px solid black;
  border-radius: 25px;
}